<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{{ url }}css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <br/>
            <h2>Gebäude</h2>

            <br/>
            <br/>

            <form action="{{ url }}places" method="get">
                <strong>Gebäude nach Namen suchen:</strong>
                <br/>
                <br/>
                <input class="form-control" type="text" name="search" value="{{ search }}"
                    style="min-width: 100%; max-width: 100px;">
                <br/>
                <button type="submit" class="btn btn-primary">Suchen</button>
            </form>

            <br/>
            <br/>
            <br/>

            {% if 0 < places|length %}
                <h3>Gefundene Gebäude und Plätze</h3>

                {% for place in places %}
                    <hr>
                    <br/>
                    <br/>
                    <div style="margin-bottom: 50px;">
                        <h4><a href="{{ url }}place/{{ place['dc:identifier'] }}">{{ place['dc11:title'] }}</a></h4>

                        <br/>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <strong>Allgemeine Informationen</strong>
                                <table class="table" style="width: 100%;">
                                    <tr>
                                        <td>Adresse</td>
                                        <td>
                                            {{ place['schema:streetAddress'] }}<br/>
                                            {{ place['schema:postalCode'] }}
                                            {{ place['schema:addressLocality'] }}
                                            <br/>
                                            <br/>
                                            {% set lat = place['geo:lat'] %}
                                            {% set long = place['geo:long'] %}
                                            <a href="http://www.openstreetmap.org/?mlat={{ lat }}&mlon={{ long }}&zoom=18">
                                                Zeige auf Karte</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Öffnungszeiten</td>
                                        <td>
                                            {% if 1 < place['p:openingHours']|length %}
                                                {{ place['p:openingHours'] }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <strong>Informationen zur Barrierefreiheit:</strong>
                                <br/>
                                <table class="table" style="width: 100%;">
                                    <tr>
                                        <td style="min-width: 300px;">Eingangsbereich rollstuhlgerecht:</td>
                                        <td>
                                            {% if 'partly' == place['pacc:entranceSuitableForWheelchairs'] %}
                                                teilweise
                                            {% elseif 'fully' == place['pacc:entranceSuitableForWheelchairs'] %}
                                                vollständig
                                            {% else %}
                                                nein
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Aufzug rollstuhlgerecht:</td>
                                        <td>
                                            {% if 'partly' == place['pacc:elevatorSuitableForWheelchairs'] %}
                                                teilweise
                                            {% elseif 'fully' == place['pacc:elevatorSuitableForWheelchairs'] %}
                                                vollständig
                                            {% else %}
                                                nein
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Toilette rollstuhlgerecht:</td>
                                        <td>
                                            {% if 'partly' == place['pacc:toiletSuitableForWheelchairs'] %}
                                                teilweise
                                            {% elseif 'fully' == place['pacc:toiletSuitableForWheelchairs'] %}
                                                vollständig
                                            {% else %}
                                                nein
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hilfestellungen für Menschen mit Sehbehinderung:</td>
                                        <td>
                                            {% if place['pacc:supportForVisuallyImpairedAvailable'] %}
                                                ja
                                            {% else %}
                                                nein
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hilfestellungen für Menschen mit Hörbehinderung:</td>
                                        <td>
                                            {% if place['pacc:supportForHearingImpairedAvailable'] %}
                                                ja
                                            {% else %}
                                                nein
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if 0 < place['pacc:localSupport']|length %}
                                        <tr>
                                            <td>Allgemeine Hilfestellungen:</td>
                                            <td>
                                                {{ place['pacc:localSupport'] }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
